<head>
    <title>twitterClone</title>
</head>

<body>
{{> navBar}}
    
    <div class="row">
        {{#unless currentUser}}
        <div class="col-xs-4 col-xs-offset-4">
            {{> userManagement}}
        </div>
        {{/unless}} {{#if currentUser}}
        <div class="col-xs-4">
            <div class="row">
                {{> userManagement}}
            </div>
            <div class="row">
                {{> followUsers}}
            </div>
        </div>
        <div class="col-xs-8">
            <div class="row">
                {{> tweetBox}}
            </div>
            <div class="row">
                {{> tweetFeed}}
            </div>
        </div>
        {{/if}}
    </div>
</body>
