<template name="tweetReplies">
    <div class="tweetreplies-container">
        {{#each tweetReply}}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{this.user}} 
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                 {{prettifyDate this.timestamp}}
               </h3>
                {{> likes tweetReply}}
            </div>
            <div class="panel-body">
                {{this.message}} 
            </div>
        </div>
        {{/each}}
    </div>
</template>
