<template name="userManagement">
    <div class="user-container">
        {{#unless currentUser}}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Welcome to Mini Twitter</h1>
            </div>
        </div>
        <br>
        <div class="panel panel-default userBox">
            <div class="panel-body">
                <!-- Log in module -->
                <h4>Sign In</h4>
                <div class="form-group">
                    <form>
                        <input class="form-control input-sm" id="login-email" placeholder="Email" type="email" required>
                        <input class="form-control input-sm" id="login-password" placeholder="Password" type="password" required>
                        <button type="submit" class="btn btn-info fullbutton login" id="login">Log in</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default userBox">
            <div class="panel-body">
                <!-- Sign up module -->
                <h4>Sign Up</h4>
                <div class="form-group">
                    <form>
                        <input class="form-control input-sm" id="signup-email" placeholder="Email" type="email" required>
                        <input class="form-control input-sm" id="signup-fullname" placeholder="Full Name (Optional)">
                        <input class="form-control input-sm" id="signup-password" placeholder="Password" type="password" required>
                        <button type="submit" class="btn btn-info fullbutton" id="signup">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
        {{/unless}}
    </div>
</template>
